---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

// Index Feature Row

.feature__item a {
    text-decoration: none;
    color: #3d4144;
}

// Papers
.papers p {
    font-size: medium;
    padding-left: 1em;
    min-height: 64px;
    padding-right: 70px;
}

.papers strong {
	color: #0072CE;
}
.papers preprint {
    font-weight: bold; 
}
.papers lab {
	color: #BE4D00; 
}
.papers a {
	text-decoration: none;
    color: #3d4144;
}

.papers year {
    color: #3d4144;
    font-weight: bold;
    font-size: large;
}

// Altmetric Badge Position
.altmetric-embed {
	float: right;
}

// CV Formatting

.cv .cvtag {
    font-weight: bold;
    margin: 0;
    width: 8em;
    display: inline-block;
    font-size: medium;
    vertical-align: top;
}

.cv ul {
    margin: 0;
    padding: 0;
    display: inline-block;
    width: 80%;
    vertical-align: top;
}

.cv li {
    list-style-type: none; /* Remove bullets */
    margin: 0;
    padding: 0;
    padding-bottom: 0.5em;
    font-size: medium;
}

.cv p {
    font-size: medium;
}

.cv a {
    text-decoration: none;
    color: #3d4144;
}

// People Row
.people-row a {
    text-decoration: none;
    color: #3d4144;
}

.people-row-entry {
    // width: 100%;
    margin-bottom: 0.5em;
}

.people-row-badge {
    display: inline-block;
}
.people-row-badge img {
    text-decoration: none;
    width: 4em;
    border-radius: 50%;
}

.people-row-name {
    display: inline-block;
    margin-left: 1em;
}

// Hiring banner
.feature__item {
    overflow: hidden;
}

.hiring-banner{
    position: absolute; /* Fixed position relative to the viewport */
    top: 0; /* 20 pixels from the top */
    right: 0; /* 20 pixels from the right */
    inset: 20px 20px auto auto; /* top and right equal to 0 */
    transform-origin: 0 0; /* OR top left */
    transform: translate(29.3%) rotate(45deg);    
    background: #08769b;
    box-shadow: 0 0 0 5em #08769b;
    clip-path: inset(0 -100%);
    z-index: 10000; /* High z-index to ensure it's on top of other elements */
    font-size: 1em;
    font-weight: bold;
    color:aliceblue;
  }
